:root {
    --body-content-width: 70%;

    --div-height: 23vw;
    --icon-height: calc(var(--div-height)/4.75);

    --font-size-para: 15px;
    --letter-spacing-val: 1.5vw;

    --font-weight-lighter: lighter;
    --font-family: 'BunueloCleanPro';
    --font-family-para: 'Roboto', sans-serif;

    --color-red1: #E50019;
    --color-red2: #DD0A14;
    --text-black: #040405;
    --text-white: #FBFBFB;

    --bg-color-grey: #F3F3F3;

    font-family: var(--font-family-para);
    font-size:  1.1vw;
    color: var(--text-black);
    font-weight: 300;
    word-spacing: 2.5px;
    line-height: 2;
}

