.relative-div {
    position: relative;
    margin-top: 1rem;
    height: var(--div-height);
}

.abs-div {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0; 
    width: 45%;
    height: inherit;
}

.abs-div img {
    height: 85%;
    width: auto;
}

.red-bg {
    background-color: var(--color-red1);
    width: 75%;
    height: inherit;
}

.red-bg p {
    color: var(--text-white);
    padding: 0 2rem;
    width: 65%;
}
