.relative-div {
    position: relative;
    margin-top: 1rem;
    height: var(--div-height);
}

.abs-div {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 1.5vw; 
    width: 45%;
    height: inherit;
}

.abs-div img {
    height: 85%;
    width: auto;
}

.red-bg {
    background-color: var(--color-red1);
    width: 75%;
    height: inherit;
}

.red-bg p {
	color: var(--text-white);
	padding-left: 3vw;
	width: 65%;
}
