@import url("./constant.css");
@import url("./redRelativeCompStyle.css");
@import url("./formFooter.css");

*{ 
    box-sizing: border-box;
}

html{
    z-index: -1;
    background-color: black;
}

body{
    margin: 0px auto;
    padding: 0px;
    width: var(--body-content-width);
    font-size: var(--font-size-para);
    background-color: white;
}

/* Aligns items in the vertical axis */
.valign{
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* Top section starts */
.intro-heading {
    background-image: url('../images/Group\ 991.png');
    background-size: cover;
}

.intro-heading .brand {
    font-weight: var(--font-weight-lighter);
    font-size: 1.5rem;
    text-align: left;
    color: white;
    margin: 0px auto;
    padding-top: 0.75rem;
    padding-left: 3.5rem;
}

.intro-heading .brand > span {
    color: var(--color-red1);
}

.intro-heading .heading {
    letter-spacing: var(--letter-spacing-val);
    font-weight: var(--font-weight-lighter);
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 1.25rem;
}

.intro-heading p {
    font-weight: 200;
    text-align: center;
    color: white;
    font-size: 0.75rem;
}

p.last-p {
    text-align: center;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

div.input-div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
}

.input-div input {
    font-family: var(--font-family-para);
    width: 240px;
    height: inherit;
    font-size: 0.75rem;
    padding-left: 1rem;
}

.input-div button {
    background-color: var(--color-red2);
    border: none;
    width: 72px;
    height: inherit;
    color: white;
    font-weight: unset;
}
/* Top section ends */

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* Body (What is Illumee?) starts */
.illumee-body .body-heading {
    font-weight: normal;
    color: var(--color-red2);
    text-align: left;
    padding-left: 2rem;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}

.body-p {
    color: var(--text-black);
    font-weight: 300;
    text-align: left;
    line-height: 2;
}

/* These four styling from here can be separated into its own file if the grey background component in home.js can be separaed into a file */
.illumee-body .flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--div-height);
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.illumee-body .grey-bg{
    background-color: var(--bg-color-grey);
}

.flex-div img {
    width: 320px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.flex-div p {
    width: 60%;
}
/* -------------------------------------------------------- */

.flex-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.flex-img img {
    width: calc(96%/3);
}

.red-bg-div {
    background-color: var(--color-red1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--div-height);
    padding: 1rem 2rem;
}

.red-bg-div p {
    color: var(--text-white);
    width: 60%;
}

div.grid-container {
    width: 35%;
    display: grid;
    justify-items: center;
    grid-template-columns: calc(100%/3.0) calc(100%/3.0) calc(100%/3.0);
    grid-template-rows: auto;
    row-gap: 1rem;
    grid-template-areas: 
    ". a ."
    "b . c"
    ". d .";
}

.img-a{
    height: var(--icon-height);
    width: auto;
    grid-area: a;
}

.img-b{
    height: var(--icon-height);
    width: auto;
    grid-area: b;
}

.img-c{
    height: var(--icon-height);
    width: auto;
    grid-area: c;
}

.img-d{
    height: var(--icon-height);
    width: auto;
    grid-area: d;
}
/* Body (What is Illumee?) ends */

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
